[submodule "api_healthcheck"]
	path = api_healthcheck
	url = https://github.com/corespace-api/api_healthcheck
	branch = development
[submodule "api_login"]
	path = api_login
	url = https://github.com/corespace-api/api_login.git
	branch = development
[submodule "api_register"]
	path = api_register
	url = https://github.com/corespace-api/api_register.git
	branch = development
[submodule "api_token"]
	path = api_token
	url = https://github.com/corespace-api/api_token.git
	branch = development