version: '3.7'

services:
    mongodb:
        image: mongo:latest
        container_name: mongodb
        restart: always
        environment:
            MONGO_INITDB_ROOT_USERNAME: admin
            MONGO_INITDB_ROOT_PASSWORD: admin_password
            MONGO_INITDB_DATABASE: corespace
        ports:
            - 27017:27017
        volumes:
            - ./mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro

    mongodb-express:
        image: mongo-express:latest
        container_name: mongodb-express
        restart: always
        depends_on:
            - mongodb
        environment:
            ME_CONFIG_MONGODB_ADMINUSERNAME: admin
            ME_CONFIG_MONGODB_ADMINPASSWORD: admin_password
            ME_CONFIG_MONGODB_SERVER: mongodb
        ports:
            - 8081:8081